@(message: String, style: String = "java")

<html>
    <head>
        <title>EventfulWeather</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <center>
            <b><font size="5"> EVENTFUL WEATHER</font></b><br/>&nbsp;

            Sign in:

            <form name ="Signin" method="post" action="@routes.CheckUser.login()">
                Enter Email: <br />
                <input type="text" name ="email"> <br />
                Enter Password: <br />
                <input type="password" name ="password"> <br />&nbsp;
                <input type="submit" value="Enter">
            </form>&nbsp;

            <form name ="newAccount" method="post" action="@routes.CheckUser.newUser()">
                Don't have an account? Make one! -
                <input type="submit" value="Sign up"><br />
            </form>

        </center>
    </body>
</html>

